p span
{
    font-weight: bold;
}

body {
    background-color: #fff;
}

* {
color: black;
}

h2 {
font-weight: bold;
font-size: 2.5em;
text-align: center;
color: #E50914;
}

h1 {
font-weight: bold;
font-size: 3em;
text-align: center;
color: #E50914;
}


.cat-name{
    font-size: 1.3em;
}
.cat-name2{
    clear: left;
    display: block;
}

/* Modal */
.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 951;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    position:  relative;
    background-color: white;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow-y:  auto;
    overflow-x:  hidden;
    padding: 0 15px 0 15px;
}


.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5em;
}
.modal-close:hover{
    color: red;
}

.movie{
    position: fixed;
    width: 70%;
    height: auto;
    padding: 15px 15px;
    z-index: 954;
    border: solid 2px black;
    border-radius: 5px;
    background-color: #fff;
}

.modal-btn{
    cursor: pointer;
    border: none;
    background-color: #fff;
}
.modal-btn:hover{
 opacity: 0.8;
}

.top-modal-btn{
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 2px darkgrey;
    font-size: 1.5em;
    padding-right: 0.5em;
 }

.jacket{
    border: solid 2px black;
    border-radius: 5px;
}

/* Inside modal*/
.modal-img{
    float: left;
    padding-right: 15px;
    padding-top: 1.2em;
}


.title {
    font-size: 3em;
    font-weight: bold;
}

.genre {
    font-size: 1.2em;
}

.movie-cat {
    white-space: nowrap;
    flex-flow: row nowrap;  
    overflow: hidden;
    display: flex;
    scroll-behavior: smooth;
    margin-top: 11px;
    column-gap: 5px;
    align-items: center;

}

/* Scrolling container*/
.container {
    user-select: none;
    height: 300px;
    position: relative;
    width: 90%;
    max-width: 1350px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: -2em auto 0 auto;
}

.control-container {
    height: 300px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    visibility: visible;
}

.left-scroll {

    left: 0;
}
.right-scroll {
    right: 0;

}
.scroll {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translate(0, -50%);
    width: 60px;
    height: 48px;
    margin: 0 5px;
    z-index: 950;
}

.button {
    position: absolute;
    color: #f6f6f6;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    cursor:  pointer;
    width: 60px;
    height: 48px;
    z-index: 950;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0)
}
.button:hover{
    opacity: 1;
}

.scroll-btn{
    padding-bottom: 0.2em;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 2px 2px #000, 0 -2px 2px #000, 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
    color: white;
}

.hide-scroll{
    visibility: hidden;
}

.img-top{
    float: left;
    padding-right: 15px;
    padding-left: 5px;
}

/* Best movie section */
#top-movie{
    height: auto;
    min-height: 390px;
    width: 80%;
    margin: -2em auto 0 auto;
    border: solid 5px rgba(222, 222, 222, 1);
    border-radius: 10px;
    background-color: rgba(222, 222, 222, 1);
}

.best{
    display: block;
    margin-top: -1em;
}

.top-title{
    font-size: 3.3em;
    font-weight: bold;
}


/* menu */
nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
    width: 70%;
   display: table;
   text-align: center;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;

}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;

}

nav a:hover{
    color: red;
    border-bottom: 2px solid red;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgba(255,255,255,1);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;

}
.sous a:hover{
    border-bottom: none;

    margin-right: 10%;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

#site-name:hover{
    color: default;
    border: none;

}


/* Mobile */
@media screen and (max-width: 1000px) {
    .control-container {
    width: 98%;
    }
    .container {
    width: 98%;
    }
    #top-movie{
    height: auto;
    min-height: 390px;
    width: 95%;
    }
    nav ul{
        width: 100%;
    }
}
